In [52]:
%%capture
!pip install selenium

In [53]:
%%capture
!pip install webdriver-manager

In [101]:
# Importing All the Important Libraries 
import numpy as np
import pandas as pd
from time import sleep
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException

In [102]:
Dates=pd.read_excel(r"./Dates.xlsx")

In [103]:
# Cross Check Extracting Dates 
Dates['week']=np.where(Dates['Month'].isin(["Jan","May"]),Dates['week']+1,Dates['week'])
Dates=Dates[Dates['Date'] <"2022-07-11"]
Dates.head(10)

          Date Month  year        Day  Day_in_month  DayofWeek  week
264 2022-07-10   Jul  2022     Sunday            10          1     3
265 2022-07-09   Jul  2022   Saturday             9          7     2
266 2022-07-08   Jul  2022     Friday             8          6     2
267 2022-07-07   Jul  2022   Thursday             7          5     2
268 2022-07-06   Jul  2022  Wednesday             6          4     2
269 2022-07-05   Jul  2022    Tuesday             5          3     2
270 2022-07-04   Jul  2022     Monday             4          2     2
271 2022-07-03   Jul  2022     Sunday             3          1     2
272 2022-07-02   Jul  2022   Saturday             2          7     1
273 2022-07-01   Jul  2022     Friday             1          6     1

In [104]:
# Website which we will be using 
website="https://vegetablemarketprice.com/market/noida/today"

In [105]:
# For getting into each Date
Data_list=[]
driver = webdriver.Chrome(options=webdriver.ChromeOptions() ) # opening the Browser
sleep(1)
driver.maximize_window() # Maximizing the windows
driver.get(website)     # Loading the Website
sleep(1)
for index in Dates.index:
    Desired_month= str(Dates['Month'][index]+ ' '+ str(Dates['year'][index]))
    week_row=Dates['week'][index]
    Day_cell=Dates['DayofWeek'][index]
    driver.find_element(By.XPATH, "/html/body/div[2]/div[2]/div[1]/div[2]/div[2]/div/div[1]").click()  #Calendar dropdown
    sleep(1)
    while driver.find_element(By.XPATH,"/html/body/div[4]/div[2]/div[1]/table/thead/tr[1]/th[2]").text != Desired_month :
        driver.find_element(By.XPATH,"/html/body/div[4]/div[2]/div[1]/table/thead/tr[1]/th[1]").click()
        sleep(0.1)
    driver.find_element(By.XPATH,f'/html/body/div[4]/div[2]/div[1]/table/tbody/tr[{week_row}]/td[{Day_cell}]').click() # Date Select 
    try:
        myElem = WebDriverWait(driver, 20).until(EC.presence_of_element_located((By.ID, 'IdOfMyElement')))
        print("Page is ready!")
    except TimeoutException:
        print("Loading took too much time!")
    elements =driver.find_elements(By.CLASS_NAME,"todayVetableTableRows")
    sleep(2)
    for element in elements:
        id=element.get_attribute('id')
        Vegetable=driver.find_element(By.XPATH,'//*[@id="{}"]/td[2]'.format(str(id)))
        Wholesale=driver.find_element(By.XPATH,'//*[@id="{}"]/td[3]'.format(str(id)))
        Retail=   driver.find_element(By.XPATH,'//*[@id="{}"]/td[4]'.format(str(id)))
        Shopping= driver.find_element(By.XPATH,'//*[@id="{}"]/td[5]'.format(str(id)))
        Units=    driver.find_element(By.XPATH,'//*[@id="{}"]/td[6]'.format(str(id)))
        Date=     Dates['Date'][index]
        Data_list.append({'Date': Date,
            'Vegetable':Vegetable.text,
              'Wholesale Price':Wholesale.text,
              'Retail Price':Retail.text,
              'Shopping Mall Price':Shopping.text,
              'Units':Units.text})
        sleep(0.01)
print("Scrapping Done")

Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Loading took too much time!
Scrapping Done

In [106]:
df=pd.DataFrame(Data_list)

In [107]:
# Checking How many Days Data We got 
df['Date'].nunique()       #424 For 1 Feb 2022 to 31 Mar 2023

160

In [64]:
# Checking Dates which we needed to Extract Data of
df['Date'].unique()

array(['2022-12-31T00:00:00.000000000', '2022-12-30T00:00:00.000000000',
       '2022-12-29T00:00:00.000000000', '2022-12-28T00:00:00.000000000',
       '2022-12-27T00:00:00.000000000', '2022-12-26T00:00:00.000000000',
       '2022-12-25T00:00:00.000000000', '2022-12-24T00:00:00.000000000',
       '2022-12-23T00:00:00.000000000', '2022-12-22T00:00:00.000000000',
       '2022-12-21T00:00:00.000000000', '2022-12-20T00:00:00.000000000',
       '2022-12-19T00:00:00.000000000', '2022-12-18T00:00:00.000000000',
       '2022-12-17T00:00:00.000000000', '2022-12-16T00:00:00.000000000',
       '2022-12-15T00:00:00.000000000', '2022-12-14T00:00:00.000000000',
       '2022-12-13T00:00:00.000000000', '2022-12-12T00:00:00.000000000',
       '2022-12-11T00:00:00.000000000', '2022-12-10T00:00:00.000000000',
       '2022-12-09T00:00:00.000000000', '2022-12-08T00:00:00.000000000',
       '2022-12-07T00:00:00.000000000', '2022-12-06T00:00:00.000000000',
       '2022-12-05T00:00:00.000000000', '2022-12-04T00:00:00.000000000',
       '2022-12-03T00:00:00.000000000', '2022-12-02T00:00:00.000000000',
       '2022-12-01T00:00:00.000000000', '2022-11-30T00:00:00.000000000',
       '2022-11-29T00:00:00.000000000', '2022-11-28T00:00:00.000000000',
       '2022-11-27T00:00:00.000000000', '2022-11-26T00:00:00.000000000',
       '2022-11-25T00:00:00.000000000', '2022-11-24T00:00:00.000000000',
       '2022-11-23T00:00:00.000000000', '2022-11-22T00:00:00.000000000',
       '2022-11-21T00:00:00.000000000', '2022-11-20T00:00:00.000000000',
       '2022-11-19T00:00:00.000000000', '2022-11-18T00:00:00.000000000',
       '2022-11-17T00:00:00.000000000', '2022-11-16T00:00:00.000000000',
       '2022-11-15T00:00:00.000000000', '2022-11-14T00:00:00.000000000',
       '2022-11-13T00:00:00.000000000', '2022-11-12T00:00:00.000000000',
       '2022-11-11T00:00:00.000000000', '2022-11-10T00:00:00.000000000',
       '2022-11-09T00:00:00.000000000', '2022-11-08T00:00:00.000000000',
       '2022-11-07T00:00:00.000000000', '2022-11-06T00:00:00.000000000',
       '2022-11-05T00:00:00.000000000', '2022-11-04T00:00:00.000000000',
       '2022-11-03T00:00:00.000000000', '2022-11-02T00:00:00.000000000',
       '2022-11-01T00:00:00.000000000', '2022-10-31T00:00:00.000000000',
       '2022-10-30T00:00:00.000000000', '2022-10-29T00:00:00.000000000',
       '2022-10-28T00:00:00.000000000', '2022-10-27T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [108]:
# Data Cleaning And Pre Processing and Converting it into Different 
df["Wholesale Price"]=df["Wholesale Price"].str.replace('₹','').astype(np.int64)
df["Retail Price"]=df["Retail Price"].str.replace('₹','')
df["Shopping Mall Price"]=df["Shopping Mall Price"].str.replace('₹','')
df["Retail Price"]=(df["Retail Price"].str.split('-',expand=True)[1].astype(np.int64) +df["Retail Price"].str.split('-',expand=True)[0].astype(np.int64) )//2
df["Shopping Mall Price"]=(df["Shopping Mall Price"].str.split('-',expand=True)[1].astype(np.int64) +df["Shopping Mall Price"].str.split('-',expand=True)[0].astype(np.int64) )//2

In [109]:
# Cross Checking did we get proper data or not 
df

,Date,Vegetable,Wholesale Price,Retail Price,Shopping Mall Price,Units
0,2022-07-10,Onion Big,20,24,28,1kg
1,2022-07-10,Onion Small,35,42,50,1kg
2,2022-07-10,Tomato,21,25,30,1kg
3,2022-07-10,Green Chilli,31,37,44,1kg
4,2022-07-10,Beetroot,39,47,55,1kg
...,...,...,...,...,...,...
8635,2022-02-01,Shallot (Pearl Onion),37,45,52,1kg
8636,2022-02-01,Snake Gourd,24,29,34,1kg
8637,2022-02-01,Sorrel Leaves,12,14,17,1kg
8638,2022-02-01,Spinach,12,14,17,1kg
8639,2022-02-01,Sweet Potato,40,48,57,1kg

In [110]:
# Change File Name Accoring to Choice
df.to_csv('Noida_data_6.csv')